{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "env": { "node": true },
    "plugins": [
		"@stylistic",
		"@typescript-eslint"
    ],
    "extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
    ], 
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
      "@typescript-eslint/no-unused-vars": ["error", { "args": "none" }],
      "@typescript-eslint/ban-ts-comment": "off",
      "@stylistic/no-empty-function": "off",
      "@stylistic/comma-dangle": ["error", "only-multiline"],
      "@stylistic/semi": ["error", "never"],
      "no-unused-vars": "off",
      "no-prototype-builtins": "off",
      "curly": ["error", "multi-or-nest"],
      "eqeqeq": ["error", "always"],
      "camelcase": "error"
    } 
  }
