# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
/main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# example vault files
EXAMPLE_VAULT/.obsidian/plugins/*
EXAMPLE_VAULT/.obsidian/workspace

!EXAMPLE_VAULT/.obsidian/plugins/hot-reload