/* 
 * Enable snippet in Settings->Appearance-CSS snippets 
 */


/* Change default color of empty days */
/* Light mode */
.heatmap-calendar-boxes .isEmpty {
    background: rgb(226, 233, 226) !important;
}
 /* Dark mode */
.theme-dark .heatmap-calendar-boxes .isEmpty{
    background: rgb(182, 121, 121) !important;
}
/* ------------------------------------  */
